.main-title-small {
	font-family: Koolegant;
	font-size: 12vw;
	font-style: normal;
	font-weight: 400;
	line-height: 85%;
	margin-bottom: 6vw;
}

.input-title {
	color: black;
	font-family: Karla;
	font-size: 4vw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

input[type=text] {
	background-color: #FFF;
	width: 79vw;
	height: 12vw;
	border-radius: 2.5vw;
	border: none;
	margin-top: 2vw;
	margin-bottom: 2vw;
}

input[type=email] {
	background-color: #FFF;
	width: 79vw;
	height: 12vw;
	border-radius: 2.5vw;
	border: none;
	margin-top: 2vw;
	margin-bottom: 2vw;
}

input[type=checkbox] {
	background-color: #FFF;
	width: 4vw;
	height: 4vw;
	border-radius: 1.25vw;
	border: none;
}

.label-checkbox {
	color: #000;
	font-family: Karla;
	font-size: 4vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-left: 2vw;
	vertical-align: top;
	/*appearance: none;*/
}

input,
select {
	color: #BEBEBE;
	font-family: Karla;
	font-size: 4vw;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
}


textarea {
	width: 79vw;
	height: 53vw;
	flex-shrink: 0;
	background-color: #FFF;
	border-radius: 2.5vw;
	border: none;
	margin-top: 2vw;
	margin-bottom: 2vw;
	font-family: Karla;
	font-size: 4vw;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
}

textarea::placeholder {
	color: #bebebe;
	font-family: Karla;
	font-size: 4vw;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
}

.button-text {
	color: #252525;
	font-family: Karla;
	font-size: 4vw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border: none;
}

.info {
	color: #252525;
	padding: 0.5rem 1rem;
}